<div class="border">
  <h1 class="text-xl">Teams</h1>
  <% @all_teams.each do |team| %>
    <ul>
      <% if team.active %>
        <%= link_to team.full_name, team_path(team) %>
      <% end %>
    </ul>
  <% end %>
</div>