<div class="row text-center">
  <h1 class="teams">Teams</h1>
</div>
<ul>
  <% @all_teams[:standings].each do |team| %>
    <li>
      <%= link_to team[:teamName][:default], team_path(team[:teamAbbrev][:default]) %>
    </li>
  <% end %>
</ul>