<div class="border p-2">
  <h1 class="text-4xl text-center">Teams</h1>
</div>
<div class="">
  <div class="">
    <% @all_teams["standings"].map do |team| %>
      <div class="border p-2 text-center">
        <%= team["teamName"]["default"] %>
      </div>
    <% end %>
  </div>
</div>