<div class="border row mb-3">
  <div class="col-lg-4 p-3">
    <h4>Roster</h4>
    <div>
      <h5>Forwards</h5>
      <ul>
        <% @roster.each do |player| %>
          <li>
            <%= link_to player.name, player_path(player.id) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <h5>Defense</h5>
      <ul>
        <% @roster_defense.each do |player| %>
          <li>
            <%= player.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <h5>Goalies</h5>
      <ul>
        <% @roster_goalies.each do |player| %>
          <li>
            <%= player.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>