<div class="border border-1">
  <h1>Predictions#index</h1>
  <p>Find me in app/views/predictions/index.html.erb</p>
</div>
<div class="border border-1 d-flex justify-content-around">
  <%= link_to root_path, class: "d-flex align-items-center p-3 my-3 text-decoration-none border border-1 shadow-sm rounded" do %>
    <div class="">
      Make predictions
    </div>
  <% end %>
  <%= link_to root_path, class: "d-flex align-items-center p-3 my-3 text-decoration-none border border-1 shadow-sm rounded text-decoration-none" do %>
    <div class="">
      Review predictions
    </div>
  <% end %>
</div>
