<div class=" row border text-center">
  <div class="col-sm-6 border">
    col-sm-6
  </div>
  <div class="col-sm-6 border">
    col-sm-6
  </div>
</div>
<div class=" row border text-center">
  <div class="col-sm-4 border">
    col-sm-4
  </div>
  <div class="col-sm-4 border">
    col-sm-4
  </div>
  <div class="col-sm-4 border">
    col-sm-4
  </div>
</div>
<div class=" row border text-center">
  <div class="col-sm-6 border">
    col-sm-6
  </div>
  <div class="col-sm-6 border">
    col-sm-6
  </div>
</div>
<div class=" row border text-center">
  <div class="col-sm-6 border">
    col-sm-6
  </div>
  <div class="col-sm-6 border">
    col-sm-6
  </div>
</div>