<div>
  <h1 class="font-bold text-4xl">About#about</h1>
  <p>
    Not really sure what I want to do with this.
    Would be nice to have some info about a single player.
    Try to get a single player on the page.
  </p>
  <p>I always want an easy way to get a player id. So how can I do that? </p>
</div>
