<nav class="border bg-slate-700 text-gray-400">
  <div class="grid border grid-cols-2" >
  <div class="text-center p-3">
    <%= link_to 'Home', root_path, {class: 'rounded bg-white p-2'} %>
  </div>
  <div class="text-center">
    two
  </div>
  </div>
</nav>
